@media (max-width: 768px){
	#main-slider {
		min-height: unset;
  }

  header{
	  height: auto;
  }

  .headerMargin{
	  margin-left:unset;
	  margin-right:unset;
  }

  .flash-m{
	  padding-top:unset;
	  position: relative;
	  top: -22px;
	  padding-right: unset;  }

  .marker {
	  float:unset;
	  margin-right:unset;
	  margin-top:unset;
	  font-size: 24px;
	  position: relative;
	  top: 10px;
  }

  .marker-link strong, .marker-link span {
	  font-size: 12px;
  }

  .langue .nav-item{
	  width: 33%;
	  margin-right:unset;
  }

  header, #main_navbar{
	  display:none;
  }

  .navbar-toggler{
	  background: #fff;
  }

  #wrapper-container {
	  padding-top: unset;
  }

  .clock {
		 padding: 20px;
		 
	 }
	 .clock span{
		color:#fff;
	 }

	 .mobile-header  .cart {
	  color: #fff;
	  position: relative;
	  top: 37%;
	  left: 4%;
	  z-index: 99999;
  }

  .desktop-nav{
	  display:none;
  }
  	ul.social{
	margin-top: 20px;
	}
	.table-responsive {
		overflow-x: overlay;
	}
	.mobile-cart{
		padding: unset !important;
	}
	.cont-shoping{
		margin-top: 20px;
	  }
	  .mob-title{
	    text-align:center;
	}
	
	.title{
	    margin-left:unset !important;
	}
	.copywrite{
		float: unset !important;
		text-align: center !important;
	}
	.carousel-item img {
		height: 150px;
	}
	
}


@media (min-width: 768px){
  .mobile-header{
	  display:none;
  }
  .cont-shoping{
	margin-top: 300px;
  }

  .brand-mb{
	  margin-bottom:70px;
  }

  .mobile-nav{
	  display:none;
  }
  
}